<div class="nav">
    <h1>Sensors</h1>
</div>
<div class="but">
    <button mat-raised-button (click)="onAddClick()">Add Sensor</button>
    <button mat-raised-button (click)="goToPage()">Sensor Types</button>
</div>
<div class="basic">
    


<table mat-table [dataSource]="sensors" class="mat-elevation-z8">
    <ng-container matColumnDef="id">
        <th mat-header-cell *matHeaderCellDef> Id </th>
        <td mat-cell *matCellDef="let element"> {{element.id}} </td>
    </ng-container>
    <ng-container matColumnDef="serialNumber">
        <th mat-header-cell *matHeaderCellDef> Serial Number </th>
        <td mat-cell *matCellDef="let element"> {{element.serialNumber}} </td>
    </ng-container>
    <ng-container matColumnDef="value">
        <th mat-header-cell *matHeaderCellDef> Value </th>
        <td mat-cell *matCellDef="let element"> {{element.value}} </td>
    </ng-container>
    <ng-container matColumnDef="TypeId">
        <th mat-header-cell *matHeaderCellDef> Sensor type id</th>
        <td mat-cell *matCellDef="let element"> {{element.sensorTypeId}} </td>
    </ng-container>
    <ng-container matColumnDef="change">
        <th mat-header-cell *matHeaderCellDef>
            Change
        </th>
        <td mat-cell *matCellDef="let row">
            <button mat-icon-button aria-label="change" (click)="onChangeClick(row.id)">
                <mat-icon>edit</mat-icon>
            </button>
        </td>
    </ng-container>

    <ng-container matColumnDef="delete">
        <th mat-header-cell *matHeaderCellDef>
            Delete
        </th>

        <td mat-cell *matCellDef="let row">

            <button mat-icon-button aria-label="Delete" (click)="onDeleteClick(row.id)"><mat-icon>delete</mat-icon>

            </button>
        </td>
    </ng-container>
    <ng-container matColumnDef="check">
        <th mat-header-cell *matHeaderCellDef>
            check
        </th>

        <td mat-cell *matCellDef="let row">

            <button mat-icon-button aria-label="check" (click)="onCheckClick(row.id)"><mat-icon>check</mat-icon>

            </button>
        </td>
    </ng-container>
    <ng-container matColumnDef="notification">
        <th mat-header-cell *matHeaderCellDef>
            notification
        </th>

        <td mat-cell *matCellDef="let row">

            <button mat-icon-button aria-label="notification" (click)="onNotification(row.id)"><mat-icon>notifications_active</mat-icon>

            </button>
        </td>
    </ng-container>
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>

</div>
<div>
    <app-sensor-details *ngIf="edit" [sensorId]="sensorId" (refreshEvent)="refreshEvent()"></app-sensor-details>
</div>
<div>
    <app-sensor-add-details *ngIf="add" (refreshEvent)="refreshEvent()"></app-sensor-add-details>
</div>
<div>
    <app-sensor-notifications *ngIf="notification" [sensorId]="sensorId"></app-sensor-notifications>
</div>